.intro {
  display: flex;
  align-items: center;
  height: 90vh;
  padding: 0 50px;
  background-color: #070a0f;
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-position: center;
}

.intro-text h2 {
  font-size: 45px;
  font-weight: 500;
  margin: 0;
}

.intro-text p {
  margin: 0;
  font-size: 22px;
}

.find-more {
  font-size: 16px;
  color: #070a0f;
  background: #e3e3e3;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 15px 20px;
  margin-top: 30px;
  display: inline-block;
  transition: .3s;
}

.find-more:hover {
  color: #e3e3e3;
  background: transparent;
  border-color: #e3e3e3;
}